<nav class="navbar">
  <div class="logo">
    <span class="icon">✨</span>
    <span>APP PRUEBA DE COLME</span>
  </div>
  <ul class="nav-links">
    <li><a href="#" class="active">Inicio</a></li>
    <li><a href="#">Características</a></li>
    <li><a href="#">Precios</a></li>
  </ul>
  <button class="btn-primary">Empezar</button>
</nav>

<main class="hero-section">
  <div class="hero-content">
    <div class="badge">PRUEBA</div>
    <h1>Prueba<span class="gradient-text"> de Colme</span></h1>
    <p>
      Repositorio en GITHUB publico con la app angular el código de IaC y los workflows
      Codigo de terraform modularizado para provisionar S3  CloudFront seguridad IAM 
      Flujos de GITHUB Actions

    </p>
    <div class="hero-buttons">
      <button class="btn-primary large">Explorar Componentes</button>
      <button class="btn-secondary large">Ver Código</button>
    </div>
  </div>

  <div class="cards-grid">
    <div class="card">
      <div class="card-icon">⚡</div>
      <h3>Boton</h3>
      <p>Texto</p>
    </div>
    <div class="card">
      <div class="card-icon">🎨</div>
      <h3>Estética Premium</h3>
      <p>Diseño cuidadosamente elaborado con atención a los detalles y animaciones.</p>
    </div>
    <div class="card">
      <div class="card-icon">📱</div>
      <h3>Responsivo</h3>
      <p>Se adapta perfectamente a cualquier dispositivo y tamaño de pantalla.</p>
    </div>
  </div>
</main>
